@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #efeeeb;
  font-family: 'Inter', sans-serif;
}

a {
  color: #efeeeb;
}

a:hover {
  text-decoration: none;
}

.anchor {
  margin-top: 1px;
}

.void {
  height: 25vh;
}

.logo-tina {
  position: fixed;
  width: 40px;
  top: 40px;
  left: calc((100vw - 40px) / 2);
  mix-blend-mode: difference;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txt-lg {
  width: 34%;
  margin-top: 40vh;
  font-size: 1.5em;
}

.img-intro {
  width: 50%;
  margin-top: 25vh;
  border-radius: 12px;
}

.txt-md {
  width: 34%;
  margin-top: 25vh;
  margin-bottom: 25vh;
  font-size: 1em;
}

.txt-md-last {
  width: 34%;
  margin-top: 25vh;
  margin-bottom: 5vh;
  font-size: 1em;
}

.skill-card {
  width: 50%;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #efeeeb;
  color: #000000;
  border-radius: 12px;;
}

.skill-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  padding-bottom: 20px;
}

.skill-card-header > img {
  width: 20px;
}

.github-card {
  width: 50%;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #1a1a1a;
  color: #efeeeb;
  border-radius: 12px;;
}

.github-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  padding-bottom: 20px;
}

.btn-github {
  background-color: #efeeeb;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: .7em;
  color: #000000;
  text-decoration: none;
  font-weight: 300;
}

.btn-github:hover {
  background-color: #9e9a96;
}

.team-card {
  width: 50%;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #000000;
  color: #efeeeb;
  border-radius: 12px;
  border: 2px dashed #efeeeb;
}

.team-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  padding-bottom: 20px;
}

.team-card-header > img {
  width: 20px;
}

.btn-cta {
  width: 100%;
  background-color: #efeeeb;
  color: #000000;
  padding: 10px 5vw;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

.btn-cta:hover {
  background-color: #9e9a96;
}

.footer {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 70px;
  font-size: .8em;
  line-height: 200%;
}

.footer > img {
  width: 40px;
}

.footer > p {
  text-align: right;
}